<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__.'/src')
    ->in(__DIR__.'/tests')
;

return PhpCsFixer\Config::create()
    ->setRules([
        'psr4' => true,
        '@PSR2' => true,
        '@PSR1' => true,
    ])
    ->setRiskyAllowed(true)
    ->setFinder($finder)
;
